h1 {
  text-align: center;
  font-size: 3vh;
  width: 360px;
}

#firstSection {
  display: flex;
  align-content: center;
}

@media only screen and (max-width: 900px) {
  .button {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media only screen and (min-width: 1200px) {
  article {
    padding-left: 7vw;
    padding-right: 7vw
  }
}

@media (orientation: portrait) {
  #firstSection {
    flex-direction: column;
  }

  #firstSection > picture {
    width: 100%;
  }

  #firstSection > picture > img {
    width: 100%;
  }
}

@media (orientation: landscape) {
  article {
    margin-left: 10vw;
    margin-right: 10vw;
  }

  #firstSection {
    flex-direction: row;
    justify-content: space-between;
  }

  #firstSection > picture > img {
    height: 60vh;
  }
}
