html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.siteName {
  font-family: "Aleo", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
